In [4]:
#importing all the libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
import os
print(os.getcwd())

D:\Jupyter Notebook

In [9]:
#directing the .csv file location 
df = pd.read_csv(r'D:\Jupyter Notebook\bangla_spam.csv')

In [10]:
#printing the DataFrame
print(df.head())

   type                                               text
0  spam  এই মেসেজটি শেয়ার করুন এবং জিতে নিন আকর্ষণীয় ...
1  spam  আপনার বন্ধুদের রেফার করুন এবং প্রতি রেফারেলে ২...
2   ham  ট্রানজ্যাকশন নম্বর R234321.1554.640085 20 টাকা...
3  spam  নতুন অফার! সীমিত সময়ের জন্য পণ্যের উপর ৯০% পর...
4   ham  নববর্ষের শুভেচ্ছা!! আল্লাহ আপনার সকল কষ্ট দূর ...

In [11]:
# Adding a new column named'spam' where 'spam' = 1 if 'type' is 'spam', else add 0
df['spam'] = df['type'].apply(lambda x: 1 if x == 'spam' else 0)

# Display the updated DataFrame
df.head()

   type                                               text  spam
0  spam  এই মেসেজটি শেয়ার করুন এবং জিতে নিন আকর্ষণীয় ...     1
1  spam  আপনার বন্ধুদের রেফার করুন এবং প্রতি রেফারেলে ২...     1
2   ham  ট্রানজ্যাকশন নম্বর R234321.1554.640085 20 টাকা...     0
3  spam  নতুন অফার! সীমিত সময়ের জন্য পণ্যের উপর ৯০% পর...     1
4   ham  নববর্ষের শুভেচ্ছা!! আল্লাহ আপনার সকল কষ্ট দূর ...     0

In [12]:
#counting all spam and ham values
df['spam'].value_counts()

spam
1    1403
0    1199
Name: count, dtype: int64

In [13]:
#droping all the duplicates if there any
df.drop_duplicates(inplace=True)

In [14]:
df

      type                                               text  spam
0     spam  এই মেসেজটি শেয়ার করুন এবং জিতে নিন আকর্ষণীয় ...     1
1     spam  আপনার বন্ধুদের রেফার করুন এবং প্রতি রেফারেলে ২...     1
2      ham  ট্রানজ্যাকশন নম্বর R234321.1554.640085 20 টাকা...     0
3     spam  নতুন অফার! সীমিত সময়ের জন্য পণ্যের উপর ৯০% পর...     1
4      ham  নববর্ষের শুভেচ্ছা!! আল্লাহ আপনার সকল কষ্ট দূর ...     0
...    ...                                                ...   ...
2597  spam   প্রতিদিন ১০০ টাকা জিততে চান? এখনই অংশগ্রহণ করুন!     1
2598  spam  মোবাইল অ্যাপ ডাউনলোড করুন এবং ৫০০ টাকা বোনাস পান!     1
2599  spam    নতুন গ্রাহকদের জন্য বিশেষ অফার, আজই উপভোগ করুন!     1
2600  spam  আপনার অ্যাকাউন্ট আপগ্রেড করুন এবং এক্সক্লুসিভ ...     1
2601  spam  বিশেষ ছাড়! ২৪ ঘন্টার মধ্যে অর্ডার করুন এবং ৩০...     1

[2577 rows x 3 columns]

In [15]:
#after droping duplicate values, new values
df['spam'].value_counts()

spam
1    1399
0    1178
Name: count, dtype: int64

In [17]:
#find and count if any null value exists
df.isnull().sum()

type    0
text    0
spam    0
dtype: int64